.container-repositorio {
    width: 80%;
    margin: 0px auto;
}

.container-repositorio header {
    margin-top: 60px;
    justify-content: space-between;
}

.container-repositorio header span {
    font-size: 40px;
    font-weight: 500;
}

.container-repositorio header svg{
    margin: 10px 20px 0px 0px;
    float: right;
}

.container-repositorio .user-repos {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.container-repositorio .user-repos img {
    width: 254px;
    height: 254px;
    object-fit: cover;
    border-radius: 50%;
    background-image: rgb(0, 0, 0);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    padding: 4px;
}


.container-repositorio .user-repos svg{
    margin-right: 40px;
}

.container-repositorio .user svg{
    margin-right: 40px;
}

.container-repositorio .user-info{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

.container-repositorio .user-info span{
    margin-top: 20px;
}

.container-repositorio ul {
    list-style: none;
    margin-left: 100px;
    margin-top: 30px;
}

.container-repositorio ul li {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 360px;
}

.container-repositorio ul li + li {
    border-top: 1px solid #eee;
}

.container-repositorio ul li a {
    color: #0e84f8;
    text-decoration: none;
}